[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
black = "==21.5b2"
flake8 = "*"
mypy = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.9"

[packages]
numpy = "*"

[scripts]
mypy = "mypy server --config-file mypy.ini"
